#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

ul {
  margin: 10px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.photo {
  display: flex;
  max-width: 50%;
  margin: 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  padding: 5px;
}

.photo img {
  display: block;
  max-width: 100%;
}

.photo button {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
